/diary/
/blog/

# dependencies
node_modules/

# build output
dist/
coverage/
*.tsbuildinfo

# environment variables
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# storybook
storybook-static/

# playwright
playwright-report/
test-results/

# VRT
.reg/
.reg-snapshots/
