# Dependencies
node_modules/

# Build output
**/dist/
**/build/
**/coverage/
**/storybook-static/

# VRT
**/.reg/
**/.reg-snapshots/

# Generated
**/src/api/endpoints/
**/src/gen/
**/src/models/
**/public/mockServiceWorker.js
*.tsbuildinfo

# Lockfiles
bun.lock
*.lock
